@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(to right ,#080435,#080435, #2b2746,#2b2746,#2b2746,#080435);
}
.menus
{
    display: fixed;
    z-index: 999;
}
.menus .maxw
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.menus .logo
{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
font-family: 'Tajawal', sans-serif;
}
.menus .logo span{
    padding: 5px 5px;
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    border-radius: 4px;
    font-weight: 500;
font-family: 'Tajawal', sans-serif;
}
.menus .menu 
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 0 0 30px;
}
.menus .menu a
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 50px;
    font-family: 'Tajawal', sans-serif;
}
.menu .menu a span
{
    padding: 5px 17px;
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
}
.menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .menu-btn i{
    color:  #fff;
  }
  .close-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color:  #fff;
  }
article
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
article .maxw
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
}
article .maxw .content
{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    min-height: 634px;
}
article .maxw .content .textb
{
    height: 100%;
    z-index: 3;
}
article .maxw .content .textb h2
{
    font-size: 65px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
}
article .maxw .content .textb p
{
    font-size: 17px;
    font-family: 'Tajawal', sans-serif;
    color: #fff;
    padding-bottom: 40px;
}

article .maxw .content .textb .btn1
{
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    padding: 10px 34px;
    text-decoration: none;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
}
article .maxw .content .textb .btn1:hover
{
    border: 2px solid #6e14ff;
    background: none;
    padding: 8px 32px;
}
article .maxw .content .textb .btn2
{
    padding: 8px 26px;
    text-decoration: none;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #6e14ff;
    margin-left: 5px;
}
article .maxw .content .textb .btn2:hover
{
    background: linear-gradient(to left, #6e14ff, #cc01ff);
}

article .maxw .content .textb .soc
{
    color: #fff;
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
article .maxw .content .textb .soc .line
{
    width: 150px;
    height: 2px;
    background: #fff;
    margin-left: 28px;
}
article .maxw .content .textb .soc .fab
{
    cursor: pointer;
    font-size: 27px !important;
}
article .maxw .content .textb .soc .f
{
    margin-left: 28px;

}
article .maxw .content .imgb
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
article .maxw .content .imgb img
{
    max-height:634px;
}
.btn
{
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}
.btn i
{
    position: absolute;
    bottom: 13px;
    right: 15px;
    font-size: 23px;
    color: #fff;
}
@media (max-width:1322px){
    .menus .menu {
        padding: 0 0 0 0;
        position: fixed;
        background: #333;
        opacity: 0.95;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding-left: 0;
        padding-top: 70px;
        z-index: 9999999;
        transition: left 0.43s ease;
      }
      .menus .menu li {
        display: block;
        padding: 30px 0;
      }
      .menus .menu li a {
        display: inline-block;
        margin-left: 0;
        color:  #fff;
        text-decoration: none;
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        transition:all 0.3s ease;
      }
      .menu-btn {
        display: block;
      }
      .close-menu {
        display: block;
        position: absolute;
        top:30px;
        right: 49px;
      }
article .maxw .content .imgb img{
    max-height:600px;
    position: absolute;
    bottom: 0;
    right: 0;
}
article .maxw .content .textb .soc{
    margin-top: 100px;
}
article .maxw .content
{
    min-height: 550px;
}
}
@media (max-width:982px){
    article .maxw .content
{
    min-height: 500px;
}
article .maxw .content .textb .soc{
    margin-top: 80px;
}
article .maxw .content .imgb img{
    max-height:500px;
    opacity: 0.7;
}
article .maxw .content .textb h2
{
    font-size: 60px;
    padding-top: 50px;
}
article .maxw .content .textb
{
    width: 85%;
}
}
@media (max-width:790px){
    article .maxw .content .textb h2
    {
        font-size: 55px;
        padding-top: 40px;
    }
    article .maxw .content .textb
    {
        width: 100%;
    }
    article .maxw .content .imgb img{
        max-height:500px;
    }
}
@media (max-width:678px){
    article .maxw .content .imgb img{
        max-height:400px;
    }
}
@media (max-width:496px){
    article .maxw .content .imgb img{
        max-height:300px;
    }
    article .maxw
{
    justify-content: center;
    padding: 0 15px;
}
}