@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    background:radial-gradient(circle at 65% 68%, #756380,#200231 60%);
}
.cir1
{
    position: absolute;
    top: -100px;
    right: -90px;
    width: 70%;
    height: 140%;
    z-index: -1;
    border: 2px solid rgba(238, 238, 238, 0.39);
    border-radius: 50%;
}
.cir
{
    position: absolute;
    top: 100px;
    right: 110px;
    width: 40%;
    height: 80%;
    z-index: -1;
    border: 2px solid rgba(238, 238, 238, 0.39);
    border-radius: 50%;
}
.menus
{
    display: fixed;
    z-index: 999;
}
.menus .maxw
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.menus .logo
{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
    opacity: 0;
    animation: left 0.5s ease forwards;
    }
    @keyframes left{
        0%{
          transform: translateX(-100px);
          opacity: 0;
        }
        100%{
          transform: translateX(0px);
          opacity: 1;
        }
      }
.menus .logo span{
    padding: 5px 5px;
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
}
.menus .menu 
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 0 0 30px;
}
.menus .menu a
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 50px;
    font-family: 'Tajawal', sans-serif;
    transition: all 0.5s ease;
    opacity: 0;
    animation: ups 0.5s ease forwards;
    animation-delay:calc(0.5s * var(--i));
}
@keyframes ups{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }
.menus .menu a:hover
{
    opacity: 0.5;
}
.menus .menu a span
{
    padding: 5px 17px;
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
}
.menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .menu-btn i{
    color:  #fff;
  }
  .close-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color:  #fff;
  }
article
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
article .maxw
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
}
article .maxw .content
{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    min-height: 634px;
}
article .maxw .content .textb
{
    height: 100%;
    z-index: 3;
}
article .maxw .content .textb h2
{
    font-size: 65px;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
    opacity: 0;
    animation: left 0.5s ease forwards;
    animation-delay: 3s;
    }
    @keyframes left{
        0%{
          transform: translateX(-100px);
          opacity: 0;
        }
        100%{
          transform: translateX(0px);
          opacity: 1;
        }
      }
article .maxw .content .textb p
{
    font-size: 17px;
    font-family: 'Tajawal', sans-serif;
    color: #fff;
    padding-bottom: 40px;
    opacity: 0;
    animation: left 0.5s ease forwards;
    animation-delay: 3.4s;
    }
    @keyframes left{
        0%{
          transform: translateX(-100px);
          opacity: 0;
        }
        100%{
          transform: translateX(0px);
          opacity: 1;
        }
      }
article .maxw .content .textb .btns{
    margin-top: 0px;
    opacity: 0;
    animation: left 0.5s ease forwards;
    animation-delay: 3.7s;
    }
    @keyframes left{
        0%{
          transform: translateX(-100px);
          opacity: 0;
        }
        100%{
          transform: translateX(0px);
          opacity: 1;
        }
      }
article .maxw .content .textb .btn1
{
    background: linear-gradient(to left, #6e14ff, #cc01ff);
    padding: 10px 34px;
    text-decoration: none;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
}
article .maxw .content .textb .btn1:hover
{
    border: 2px solid #6e14ff;
    background: none;
    padding: 8px 32px;
}
article .maxw .content .textb .btn2
{
    padding: 8px 26px;
    text-decoration: none;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #6e14ff;
    margin-left: 5px;
}
article .maxw .content .textb .btn2:hover
{
    background: linear-gradient(to left, #6e14ff, #cc01ff);
}

article .maxw .content .textb .soc
{
    color: #fff;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    animation: ups 0.5s ease forwards;
    animation-delay:4s;
}
@keyframes ups{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }
article .maxw .content .textb .soc i
{
    transition: all 0.5s ease;
}
article .maxw .content .textb .soc i:hover
{
    transform: translateY(-10px);
}

article .maxw .content .textb .soc .line
{
    width: 150px;
    height: 2px;
    background: #fff;
    margin-left: 28px;
}
article .maxw .content .textb .soc .fab
{
    cursor: pointer;
    font-size: 27px !important;
}
article .maxw .content .textb .soc .f
{
    margin-left: 28px;

}
article .maxw .content .imgb
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
article .maxw .content .imgb img
{
    margin-top: 43px;
    max-height:624px;
    opacity: 0;
    animation: ups 0.5s ease forwards;
    animation-delay:4s;
}
@keyframes ups{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }
.btn
{
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}
.btn i
{
    position: absolute;
    bottom: 13px;
    right: 15px;
    font-size: 23px;
    color: #fff;
}
@media (max-width:1322px){
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .cir,.cir1{
        display: none;
    }
    .menus .menu {
        padding: 0 0 0 0;
        position: fixed;
        background: #333;
        display: none;
        opacity: 0.95;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding-left: 0;
        padding-top: 30px;
        z-index: 9999999;
        transition: left 0.43s ease;
      }
      .menus .menu li {
        display:grid;
        padding: 20px 0;
      }
      .menus .menu li a {
        display: inline-block;
        margin-left: 0;
        color:  #fff;
        text-decoration: none;
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        transition:all 0.3s ease;
      }
      .menu-btn {
        display: block;
      }
      .close-menu {
        display: block;
        position: absolute;
        top:30px;
        right: 49px;
      }
      article .maxw .content .imgb{
          width: 0%;
      }
article .maxw .content .imgb img{
    max-height:600px;
    position: absolute;
    bottom: 0;
    right: 0;
}
article .maxw .content .textb .soc{
    margin-top: 100px;
}
article .maxw .content
{
    min-height: 550px;
}
}
@media (max-width:982px){
    article .maxw .content
{
    min-height: 500px;
}
article .maxw .content .textb .soc{
    margin-top: 80px;
}
article .maxw .content .imgb img{
    max-height:500px;
    opacity: 0;
}
article .maxw .content .textb h2
{
    font-size: 65px;
    padding-top: 50px;
}
article .maxw .content .textb
{
    width: 85%;
}
}
@media (max-width:790px){
    article .maxw .content .textb h2
    {
        font-size: 55px;
        padding-top: 30px;
    }
    article .maxw .content .textb .btns{
        margin-top: 10px;
    }
    article .maxw .content .textb
    {
        width: 100%;
    }
    article .maxw .content .imgb img{
        margin-top: 0;
        max-height:500px;
    }
    .btn
{
z-index: 9;
}
}
@media (max-width:678px){
    article .maxw .content .imgb img{
        max-height:400px;
    }
    article .maxw .content .textb
    {
        width: 100%;
    }
    article .maxw .content .textb .soc .line
{
display: none;
}
}
@media (max-width:496px){
    article .maxw .content .imgb img{
        max-height:300px;
    }
    article .maxw .content .textb
    {
        width: 100%;
    }
    article .maxw
{
    justify-content: center;
    padding: 0 15px;
}
}